:root {
  font-size: 16px;
}

@font-face {
  font-family: 'Limelight';
  src: url('./assets/fonts/Limelight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('./assets/fonts/Barlow-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url('./assets/images/gingham-fried-chicken.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 0, 0, 0.614);
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  height: 150px;
  gap: 15px;
}

nav {
  display: flex;
  gap: 30px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.3rem;
}

#title {
  font-family: 'Limelight';
  margin-bottom: 0;
  margin-top: 15px;
}

button {
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.5rem;
  font-family: 'Limelight';
  color: whitesmoke;
  border: none;
  border-bottom: 3px whitesmoke solid;
  padding: 6px;
  width: 120px;
  cursor: pointer;
  transition-duration: 0.15s;
  margin-top: 0;
  margin-bottom: 15px;
}

button:hover {
  color: rgb(0, 0, 0);
  border-bottom: none;
  top: -0.16em;
  transition: padding .5s, top .35s, box-shadow .4s;
  box-shadow: 0 0.4rem 0 -0.165rem rgb(0, 0, 0);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgba(255, 0, 0, 0.5);
  width: 600px;
  min-height: 500px;
  border-radius: 15px;
  margin-top: 40px;
  border: 3px solid whitesmoke;
  padding: 20px;
}

#heading {
  font-family: 'Limelight';
  color: whitesmoke;
  margin: 0;
  padding-top: 15px;
  animation: fadeIn 1.5s;
}

#about {
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  width: 550px;
  margin: 0;
  padding: 0;
  animation: fadeIn 1.5s;
  font-family: 'Barlow';
}

#order-online {
  font-weight: bold;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  animation: fadeIn 1.5s;
  font-family: 'Barlow';
}

#chef-image {
  border-radius: 49%;
  width: 200px;
  border: whitesmoke dotted 3px;
  animation: fadeIn 1.5s;
}

.menu-item {
  animation: fadeIn 1.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.766);
  padding: 15px;
  gap: 10px;
  border-radius: 10px;
  border: rgb(0, 0, 0) dotted 3px;
}

.menu-item-title {
  font-family: 'Limelight';
  margin: 0;
}

.menu-item-description {
  font-family: 'Barlow';
  font-weight: bold;
  margin: 0;
  text-align: center;
  text-wrap: wrap;
}

#meat-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.menu-title {
  color: whitesmoke;
  font-family: 'Limelight';
  margin: 0;
  animation: fadeIn 1.5s;
}

#sides-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#order-click {
  width: 200px;
  height: 50px;
  animation: fadeIn 1.5s;
}

#contact-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: fadeIn 1.5s;
}

.contact-info {
  font-family: 'Barlow';
  font-weight: bold;
  color: whitesmoke;
  margin: 0;
}

#location-map {
  width: 400px;
  border-radius: 10px;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}